# Import Libraries

In [19]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

# Connect to Postgre Database

In [20]:
connection_string = 'postgresql://postgres:tiger@localhost:5432/postgres'
engine = create_engine(connection_string)

# Load Data Frames

## Product

In [21]:
df_product = pd.read_sql_query('''SELECT * FROM "Instacart"."Product";''', engine)
df_product.head()

,ProductID,ProductName,AisleID,DepartmentID
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [22]:
products = pd.DataFrame(df_product)

In [23]:
products.to_pickle('orig_products.pickle')

## Dim Date

In [24]:
df_dimDate = pd.read_sql_query('''SELECT * FROM "Instacart"."dimDay";''', engine)
df_dimDate.head()

   DayID        Day
0      0     Sunday
1      1     Monday
2      2    Tuesday
3      3  Wednesday
4      4   Thursday

In [25]:
dimDate = pd.DataFrame(df_dimDate)

In [26]:
dimDate.to_pickle('orig_dimDate.pickle')

## Dim Time

In [27]:
df_dimTime = pd.read_sql_query('''SELECT * FROM "Instacart"."dimTime";''', engine)
df_dimTime.head()

   TimeID  Time
0       0     1
1       1     2
2       2     3
3       3     4
4       4     5

In [28]:
dimTime = pd.DataFrame(df_dimTime)

In [29]:
df_dimTime.to_pickle('orig_dimTime.pickle')

## Fact Order Product

In [30]:
df_factOrderProduct = pd.read_sql_query('''SELECT * FROM "Instacart"."factOrderProduct";''', engine)
df_factOrderProduct.head()

   OrderID  ProductID  add_to_cart_order  reordered
0        2      33120                  1       True
1        2      28985                  2       True
2        2       9327                  3      False
3        2      45918                  4       True
4        2      30035                  5      False

In [31]:
factOrderProduct = pd.DataFrame(df_factOrderProduct)

In [32]:
factOrderProduct.to_pickle('orig_factOrderProduct.pickle')

## Aisle

In [33]:
aisles_df = pd.read_sql_query('''SELECT * FROM "Instacart"."Aisle";''', engine)
aisles_df.head()

   AisleID                   AisleName
0        1       prepared soups salads
1        2           specialty cheeses
2        3         energy granola bars
3        4               instant foods
4        5  marinades meat preparation

In [34]:
aisles = pd.DataFrame(aisles_df)
aisles.to_pickle('orig_aisles.pickle')

## DateTime

In [35]:
datetime_df = pd.read_sql_query('''SELECT * FROM "Instacart"."DateTime";''', engine)
datetime_df.head()

   DateTime  TimeOfDayID  DayOfWeekID
0         0            0            0
1         1            1            0
2         2            2            0
3         3            3            0
4         4            4            0

In [36]:
datetime = pd.DataFrame(datetime_df)
datetime.to_pickle('orig_datetime.pickle')

## Department

In [37]:
departments_df = pd.read_sql_query('''SELECT * FROM "Instacart"."DateTime";''', engine)
departments_df.head()

   DateTime  TimeOfDayID  DayOfWeekID
0         0            0            0
1         1            1            0
2         2            2            0
3         3            3            0
4         4            4            0

In [38]:
departments = pd.DataFrame(departments_df)
departments.to_pickle('orig_departments.pickle')

## Order

In [39]:
order_df = pd.read_sql_query('''SELECT * FROM "Instacart"."Order";''', engine)
order_df.head()

   OrderID  UserID EvalSet  OrderNum  DateTimeKey  DaysSincePriorOrder
0  2539329       1   prior         1           56                  NaN
1  2398795       1   prior         2           79                 15.0
2   473747       1   prior         3           84                 21.0
3  2254736       1   prior         4          103                 29.0
4   431534       1   prior         5          111                 28.0

In [40]:
order = pd.DataFrame(order_df)
order.to_pickle('orig_order.pickle')

# Feature Engineering 
("its a data science term" - CN)

## Total order per user

In [65]:
order['UserTotalOrder'] = order.groupby('UserID').OrderID.transform('count')

In [199]:
order.head()

,OrderID,UserID,EvalSet,OrderNum,DateTimeKey,DaysSincePriorOrder,UserTotalOrder,UserMedianDaysSincePriorOrder
0,2539329,1,prior,1,56,NaN,11,19.5
1,2398795,1,prior,2,79,15.0,11,19.5
2,473747,1,prior,3,84,21.0,11,19.5
3,2254736,1,prior,4,103,29.0,11,19.5
4,431534,1,prior,5,111,28.0,11,19.5

## Total Reordered per product

In [137]:
#Test the output
#len(factOrderProduct.loc[(factOrderProduct.ProductID == 1) & (factOrderProduct.reordered == True)])
#Output
#products = products.drop(['TotalReordered'], axis = 1)
products['TotalReordered'] = factOrderProduct[factOrderProduct.reordered == True].groupby('ProductID').size().reset_index(name = "count")["count"]

,ProductID,ProductName,AisleID,DepartmentID,TotalReordered
0,1,Chocolate Sandwich Cookies,61,19,1185.0
1,2,All-Seasons Salt,104,13,13.0
2,3,Robust Golden Unsweetened Oolong Tea,94,7,209.0
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,161.0
4,5,Green Chile Anytime Sauce,5,13,10.0

In [139]:
products.head()

,ProductID,ProductName,AisleID,DepartmentID,TotalReordered
0,1,Chocolate Sandwich Cookies,61,19,1185.0
1,2,All-Seasons Salt,104,13,13.0
2,3,Robust Golden Unsweetened Oolong Tea,94,7,209.0
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,161.0
4,5,Green Chile Anytime Sauce,5,13,10.0

## Median of DaySincePriorOrder per user

In [231]:
order = order.drop(["UserMedianDaysSincePriorOrder"], axis = 1)
order['UserMedianDaysSincePriorOrder'] = order.groupby("UserID").DaysSincePriorOrder.transform('median').reset_index(name = "median")["median"]
order.head()

,OrderID,UserID,EvalSet,OrderNum,DateTimeKey,DaysSincePriorOrder,UserTotalOrder,UserMedianDaysSincePriorOrder
0,2539329,1,prior,1,56,NaN,11,19.5
1,2398795,1,prior,2,79,15.0,11,19.5
2,473747,1,prior,3,84,21.0,11,19.5
3,2254736,1,prior,4,103,29.0,11,19.5
4,431534,1,prior,5,111,28.0,11,19.5

"Lets look at what that one chick put down" - CN

## Adding UserID to Fact Order Product Table

In [267]:
# This is needed for the next couple of attributes that we are calculating
#factOrderProduct = factOrderProduct.drop(["UserID_x", "UserID_y", "UserTotalProductOrder", "UserTotalOrder"], axis = 1)
factOrderProduct = factOrderProduct.merge(order[["UserID","OrderID", "UserTotalOrder"]],on=["OrderID"])
factOrderProduct.head()

   OrderID  ProductID  add_to_cart_order  reordered  UserID  UserTotalOrder
0        2      33120                  1       True  202279               9
1        2      28985                  2       True  202279               9
2        2       9327                  3      False  202279               9
3        2      45918                  4       True  202279               9
4        2      30035                  5      False  202279               9

## Total order of a product per user

"Thats, thats fine" - CN

In [268]:
userProduct = factOrderProduct.groupby(["ProductID", "UserID"], as_index = False)["OrderID"].count().rename(columns = {"OrderID" : "UserTotalProductOrder"})
userProduct.head()

   ProductID  UserID  UserTotalProductOrder
0          1     138                      2
1          1     709                      1
2          1     751                      1
3          1     764                      2
4          1     777                      1

In [269]:
# Merging UserTotalProductOrder into factOrderTable
factOrderProduct = factOrderProduct.merge(userProduct, on = ["ProductID", "UserID"])
factOrderProduct.head()

,OrderID,ProductID,add_to_cart_order,reordered,UserID,UserTotalOrder,UserTotalProductOrder
0,2,33120,1,True,202279,9,6
1,104690,33120,2,True,202279,9,6
2,132412,33120,1,True,202279,9,6
3,2808715,33120,1,True,202279,9,6
4,2894949,33120,5,False,202279,9,6

## Calculate share per product per user

In [275]:
factOrderProduct["UserProductOrdersShare"] = (factOrderProduct.UserTotalProductOrder/factOrderProduct.UserTotalOrder)
factOrderProduct.head()

In [279]:
factOrderProduct.head()

,OrderID,ProductID,add_to_cart_order,reordered,UserID,UserTotalOrder,UserTotalProductOrder,UserProductOrdersShare
0,2,33120,1,True,202279,9,6,0.666667
1,104690,33120,2,True,202279,9,6,0.666667
2,132412,33120,1,True,202279,9,6,0.666667
3,2808715,33120,1,True,202279,9,6,0.666667
4,2894949,33120,5,False,202279,9,6,0.666667

# Making Data Frame for Question *INSERT QUESTION*

In [286]:
# Removing add_to_cart_order as it is unnecessary
df_reorderProbability = factOrderProduct.drop(["add_to_cart_order"], axis = 1)
# Merging UserMedianDaysSincePriorOrder in
df_reorderProbability = df_reorderProbability.merge(order[["OrderID","UserMedianDaysSincePriorOrder"]], on = ["OrderID"])
# Merging TotalReordered
df_reorderProbability = df_reorderProbability.merge(products[["ProductID", "TotalReordered"]], on = ["ProductID"])
# Renaming TotalReordered
df_reorderProbability = df_reorderProbability.rename(columns = {"TotalReordered" : "TotalReorderedPerProduct"})
df_reorderProbability.head()

,OrderID,ProductID,reordered,UserID,UserTotalOrder,UserTotalProductOrder,UserProductOrdersShare,UserMedianDaysSincePriorOrder,TotalReorderedPerProduct
0,2,33120,True,202279,9,6,0.666667,27.0,6.0
1,104690,33120,True,202279,9,6,0.666667,27.0,6.0
2,132412,33120,True,202279,9,6,0.666667,27.0,6.0
3,2808715,33120,True,202279,9,6,0.666667,27.0,6.0
4,2894949,33120,False,202279,9,6,0.666667,27.0,6.0